@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis globais */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fbbf24;   /* Amarelo para destaque */
  --secondary: #1f2937; /* Cinza escuro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #fbbf24;
    --secondary: #1f2937;
  }
}

/* Suavização de fontes para melhor renderização */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilização global do body */
body {
  @apply text-white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  /* Configuração do background com GIF */
  background-color: var(--background);
  background-image: url('/background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
